body {
    background: linear-gradient(to bottom right, rgba(0, 0, 255, 0.5), rgba(255, 0, 0, 0.5), rgba(0, 255, 162, 0.5));
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    cursor: default;
    margin: 40px;
}

div {
    background: rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 400px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.25);
}

input {
    outline: none;
    border: none;
    background: none;
    margin: 10px 5px;
}

.text-field {
    border-bottom: 2px solid rgba(255, 0, 0, 0.5);
    padding: 5px;
    width: 80%;
}

a {
    outline: none;
}

div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
}